
h3{
color:pink;
}
div{
background:tomato;display:inline-block; color:blue;
}
.bangladesh{
font-size:30px;
color:red;

}
.bangladesh1{
font-size:40px;
color:blue;
}
#jahidul{
width:500px;
hight:500px;
}