/*Header Part Start*/
.header{
    width: 1200px;
    margin: 0 auto;
    height: 120px;
    background: skyblue;
    
    }
    
    .logo{
        padding: 15px;
        float: left;
    
    }
    
    .logo img{
        width: 40%;
        height: 40%;
    
    }
    
    .menu{
        float: right;
        padding-top: 15px;
    
    }
    
    .menu ul{
        list-style: none;
    
    }
    
    .menu ul li{
        display: inline-block;
    
    }
    
    .menu ul li a{
        text-decoration: none;
        font-size: 25px;
        padding-right: 20px;
    
    }
    
    .menu ul li a:hover{
        background: red;
        padding: 10px;
        color: midnightblue;
    
    }
    /* Header Part End */
    
    /* Slider Part Start */
    .slider{
        width: 1200px;
        margin: 0 auto;
        height: 400px;
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(./Lisa+Munro+Website+Header+\(1200+x+600+px\).png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    
    }
    .slider h1{
        position: absolute;
        top: 30%;
        left: 15%;
        color: darkred;
        text-align: center;
    
    }
    
    .slider p{
        position: absolute;
        top: 37%;
        left: 15%;
        color: black;
        text-align: center;
        font-size: 17px;
    
    }
    .slider a{
        position: absolute;
        top: 56%;
        left: 24%;
        text-decoration: none;
        border: 1px solid green;
        padding: 10px 25px;
        color: red;
        font-size: 10px;
        background: yellow;
        border-radius: 25px;

    
    }
    .slider a:hover{
        color: blueviolet;
        background: skyblue;
    }
    /* Slider Part End */
    
    /* Hero Part Start */
    .Hero{
    width: 1200px;
    margin: 0 auto;
    
    }
    .service-title{
        text-align: center;
        padding-top: 2px;
        
    }
    .service-box{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(280px,auto));
        gap: 3px;
        
    
    }
    span{
        color: goldenrod;
    
    }
    .card{
        text-align: center;
        padding: 20px;
        background: lightgreen;
         border-radius: 20px; 
    
    }
    .card a{
        border: 1px solid green;
        padding: 5px 17px;
        color: red;
        font-size: 15px;
        background: yellow;
        border-radius: 25px;
        text-decoration: none;
        
    
    }
    .card a:hover{
        color: blueviolet;
        background: skyblue;
    }
    .card img{
        width: 90px;
        height: 90px;
        /* border: 3px solid rgb(112, 244, 114); */
        border-radius: 50%;
    }

    /* ex f st */
.extra-footer{
    width: 1200px;
    margin: 0 auto;

}
.extra-footer-main{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(33%,auto));
    gap:.3%;
}
.extra-footer-card{
    background-color: skyblue;
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(18%,auto));
}
.extra-footer-card img{
    width:30px;
    height:30px;
    position: relative;
    top: 15px;
    margin-right: 10px;
   
    
}
.extra-footer-card a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(162, 7, 209);
    position: relative;
    left: 30%;
    
    
}
.extra-footer-card h2{
    text-align: center;
    color: blue;
}
.box img{
border: 2px solid rgb(245, 4, 245);
padding: 5px;
}
.Box img{
    border: 2px solid rgb(245, 4, 245);
    padding: 5px;
    }

.box img:hover{
        transform:rotate(360deg);
        transition: 1s;
    }
   
    .Box img:hover{
        transform:rotate(360deg);
        transition: 1s;
    }

.extra-footer-card h4 img{
height: 25px;
width: 25px;
}
.extra-footer-card h4{
    text-align: center;
    color: rgb(243, 6, 97);
}
   
    

    /*ex f end  */
        
    